<h3> Select a skin</h3>
<A HREF="http://steamcommunity.com/market/priceoverview/?country=DE&currency=1&appid=730&market_hash_name=M4A1-S | Golden Coil (Factory New)">Golden Coil<IMG BORDER="0" SRC="https://csgostash.com/img/skins/s657fn.png">

<A HREF="http://steamcommunity.com/market/priceoverview/?country=DE&currency=1&appid=730&market_hash_name=M4A1-S | Hyper Beast (Factory New)">Hyper Beast<IMG BORDER="0" SRC="https://csgostash.com/img/skins/s554fn.png">

<A HREF="http://steamcommunity.com/market/priceoverview/?country=DE&currency=1&appid=730&market_hash_name=M4A1-S | Cyrex (Factory New)">Cyrex<IMG BORDER="0" SRC="https://csgostash.com/img/skins/s393.png">