<h3> Select a skin</h3>
<A HREF="http://steamcommunity.com/market/priceoverview/?country=DE&currency=1&appid=730&market_hash_name=AK-47%20|%20Vulcan%20%28Factory%20New%29">Vulcan<IMG BORDER="0" SRC="https://csgostash.com/img/skins/s654fn.png">

<A HREF="http://steamcommunity.com/market/priceoverview/?country=DE&currency=1&appid=730&market_hash_name=AK-47%20|%20Wasteland%20Rebel%20%28Factory%20New%29">Wasteland Rebel<IMG BORDER="0" SRC="https://csgostash.com/img/skins/s495fn.png">

<A HREF="http://steamcommunity.com/market/priceoverview/?country=DE&currency=1&appid=730&market_hash_name=AK-47%20|%20Fuel%20Injector%20%28Factory%20New%29">Fuel Injector<IMG BORDER="0" SRC="https://csgostash.com/img/skins/s720fn.png">