<div class="row">
  <%= link_to "Home", home_url %>
</div>

<div class="row">
  <h3>Rifles</h3>
  <% @weapons.each do |weapon| %>
    <A HREF='<%= "/weapons/#{weapon.name}"%>'><%= image_tag(weapon.picture) %></A>
  <% end %>
</div>

<div class="row">
  <h3>Knife</h3>
</div>
