<!DOCTYPE html>
<html>
<head>
  <title>SteamCompanion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="http://www190.lunapic.com/do-not-link-here-use-hosting-instead/145813630248711?2022583075">

<%= yield %>

</body>
</html>
